@use "../abstracts/variables" as *;

//Import images:
$home-sm: url("/assets/img/home/background-home-mobile.jpg");
$home-md: url("/assets/img/home/background-home-tablet.jpg");
$home-lg: url("/assets/img/home/background-home-desktop.jpg");

.main {
  width: 100%;
  min-height: 100%;
  padding-top: 10%;
  align-items: center;
  display: flex;

  background: $home-lg no-repeat center center;
  background-size: 100% 100%;
  //transition: background-image 0.5s ease;
}

.paragraph {
  flex: 50%;
  max-width: 50%;
  height: 100%;
  padding: 11% 0 8% 12%;
}

.btnCTA {
  flex: 50%;
  max-width: 50%;
  height: 100%;
  padding: 18% 0 8% 20%;
}

.content {
  max-width: 30rem;
  h1 {
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: $biggest-font-size;
    color: $container-color;
    margin-bottom: 2rem;
  }
  h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: $normal-font-size;
    font-weight: 300;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $first-color;
    margin-bottom: 2rem;
  }
  p {
    font-family: "Barlow", sans-serif;
    color: $first-color;
    font-size: $txt-font-size;
    line-height: 1.8em;
  }
}

.exploreBtn a {
  background-color: $container-color;
  color: $body-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 18rem;
  height: 18rem;

  text-decoration: none;
  font-size: $normal-font-size;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  letter-spacing: 0.25rem;
}

@media (max-width: 1300px) {
  .paragraph {
    padding: 11% 0 8% 5%;
  }

  .btnCTA {
    padding: 18% 0 8% 13%;
  }
}

@media (max-width: 1008px) {
  .main {
    flex-direction: column;
    height: auto;
    background: $home-md no-repeat center;
  }

  .paragraph {
    flex: 100%;
    max-width: 100%;
    padding: 6rem 0;
    text-align: center;
  }

  .btnCTA {
    flex: 100%;
    max-width: 100%;
    padding: 6rem 0;
  }
}

@media (min-width: 1008px) {
  .main {
    padding-top: 5%;
  }
}

@media (max-width: 575px) {
  .main {
    padding-top: 10%;
    background: $home-sm no-repeat center;
  }

  //TODO: Make the text responsive on _mediaQueries.scss:
  .content {
    h1 {
      font-size: $h2-font-size;
    }
    h2 {
      font-size: $h3-font-size;
    }
    p {
      font-size: $small-font-size;
    }
  }
}
