@use "../abstracts/variables" as *;

.main {
  width: 100%;
  min-height: 100%;
  padding-top: 10%;
  align-items: center;
  display: flex;

  background-image: url("../../img/home/background-home-desktop.jpg");
  background: no-repeat center center;
  background-size: 100% 100%;
  transition: background-image 0.5s ease;

  // Img preload:
  &::after {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
    content: url("../../img/home/background-home-mobile.jpg")
      url("../../img/home/background-home-tablet.jpg")
      url("../../img/home/background-home-desktop.jpg")
      url("../../img/destination/background-destination-mobile.jpg")
      url("../../img/destination/background-destination-tablet.jpg")
      url("../../img/destination/background-destination-desktop.jpg")
      url("../../img/crew/background-crew-mobile.jpg")
      url("../../img/crew/background-crew-tablet.jpg")
      url("../../img/crew/background-crew-desktop.jpg")
      url("../../img/technology/background-technology-mobile.jpg")
      url("../../img/technology/background-technology-tablet.jpg")
      url("../../img/technology/background-technology-desktop.jpg");
  }
}

.paragraph {
  flex: 50%;
  max-width: 50%;
  height: 100%;
  padding: 11% 0 8% 12%;
}

.btnCTA {
  flex: 50%;
  max-width: 50%;
  height: 100%;
  padding: 18% 0 8% 20%;
}

.content {
  max-width: 30rem;
  h1 {
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: $biggest-font-size;
    color: $container-color;
    margin-bottom: 2rem;
  }
  h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: $normal-font-size;
    font-weight: 300;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $first-color;
    margin-bottom: 2rem;
  }
  p {
    font-family: "Barlow", sans-serif;
    color: $first-color;
    font-size: $txt-font-size;
    line-height: 1.8em;
  }
}

.exploreBtn a {
  background-color: $container-color;
  color: $body-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 18rem;
  height: 18rem;

  text-decoration: none;
  font-size: $normal-font-size;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  letter-spacing: 0.25rem;
}

@media (max-width: 1300px) {
  .paragraph {
    padding: 11% 0 8% 5%;
  }

  .btnCTA {
    padding: 18% 0 8% 13%;
  }
}

@media (max-width: 1008px) {
  .main {
    flex-direction: column;
    height: auto;
    background: url("../../img/home/background-home-tablet.jpg");
    //background-position: center;
  }

  .paragraph {
    flex: 100%;
    max-width: 100%;
    padding: 6rem 0;
    text-align: center;
  }

  .btnCTA {
    flex: 100%;
    max-width: 100%;
    padding: 6rem 0;
  }
}

@media (min-width: 1008px) {
  .main {
    padding-top: 5%;
  }
}

@media (max-width: 575px) {
  .main {
    padding-top: 10%;
    background: url("../../img/home/background-home-mobile.jpg");
    //background-position: center;
  }

  .content {
    h1 {
      font-size: $h2-font-size;
    }
    h2 {
      font-size: $h3-font-size;
    }
    p {
      font-size: $small-font-size;
    }
  }
}
